/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.mainGlow {
  display: none;
}

[data-theme='dark'] .mainGlow {
  position: absolute !important;
  overflow: hidden !important;
  display: block;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-75%, -50%);
  overflow: hidden;
  z-index: -1;
}
