.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroBanner p {
  font-weight: 900;
  text-transform: uppercase;
  color: var(--ifm-color-primary-lightest);
}

.heroBanner .heroTitle {
  font-size: clamp(2rem, 5vw, 3.75rem);
  font-weight: 500;
}

.heroBanner .heroTitle strong {
  color: var(--ifm-color-primary-lightest);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}
