.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroBanner > div > svg {
  width: 50%;
  min-width: 300px;
  height: 100%;
}

.heroBanner .heroTitle {
  padding-top: 4rem;
  font-size: clamp(2rem, 3vw, 3.75rem);
  font-weight: 500;
  margin: 0;
}

.heroBanner .heroTitle strong {
  color: var(--ifm-color-primary);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}
